<h1>Bonjour {{ email.toName }}!</h1>

    <p>
        vous êtes connecté en tant que : {{ email.to[0].address }}
    </p>
    <p>
        <p>
        Nom : {{nom}}
        <p>
        Prénom : {{ prenom }}
        </p>
        <p>
        Email {{ email }}
        </p>
        <p>
            Téléphone : {{ telephone }}
            </p>
        <p>
        Demande : {{ demande }}
        </p>
    <a href="#">Click here to activate your account</a>
        (this link is valid until {{ expiration_date|date('F jS') }})
    </p>